.component{
    background-color: azure;
    text-align: center;
    justify-content: center;
    display: flex;
    height: fit-content;
    padding:2%;
    width:100%;
    color:black

}

.Home{
    display: flex;
    text-align: justify; 
    color:black
}



.About{
    text-align: center;
    display: flex;
    align-items: center;
    color: black;

}